#output {
    font-size: 2rem;
    font-weight: bold;
}

span, h2 {
    background-color: #ff7c02 !important;
    border-color: #db9b10 !important;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h2 {
    font-size: 1.5rem;
}

.ball {
    width: 200px;
    margin-bottom: 20px;
    cursor: grab;
}
.shake {
    animation: shake 0.5s infinite;
}
#ball-img {
    height: 250px;
    width: auto;
    margin: 0 auto;
}
#response-img {
    width: 550px;
    margin-top: 20px;
    border-radius: 10px;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}